.App {
  text-align: center;
  display: flex;
}

.App-column {
  display: block;
}

.App-cell {
  border: 1px solid black;
  padding: 10px;
  margin-right: -1px;
  margin-bottom: -1px;
  width: 8px;
  height: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-cell:hover {
  background-color: lightblue;
}

.App-wrapper {
  display: flex;
}

.App-sidebar {
  padding: 10px;
  padding-right: 30px;
  width: 300px;
}